.Canvas {
  position: absolute;
  left: 0px;
  top: 30px;
  background: lightgreen;
}

.dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background: black;
}

.App-header {
  margin: 3px;
}

.App-header button {
  vertical-align: text-bottom;
}

